[Unit]
Description=Gardenifi BLE Server
# Start this unit after the rpi_server.service start
After=rpi_server.service

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/home/pi/raspirri_server/
ExecStart=/home/pi/raspirri_server/debug.sh ble
Restart=always

[Install]
WantedBy=rpi_server.service
