[Unit]
Description=RaspirriV1 Server
After=multi-user.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/usr/local/raspirri_server/
ExecStart=/usr/local/raspirri_server/debug.sh mqtt
Restart=always

[Install]
WantedBy=multi-user.target
