[Unit]
Description=RaspirriV1 Watchdog Server
# Start this unit after the rpi_server.service start
After=rpi_server.service

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/home/pi/raspirri_server/
ExecStartPre=/bin/bash -c 'until [ -f /home/pi/raspirri_server/raspirri/rpi_server.init ]; do echo "Waiting for rpi_server.init to be created"; sleep 1; done'
ExecStart=/home/pi/raspirri_server/debug.sh watchdog
Restart=always

[Install]
WantedBy=rpi_server.service
