[Unit]
Description=RaspirriV1 BLE Server
# Start this unit after the rpi_server.service start
After=rpi_server.service

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/usr/local/pi/raspirri_server/
ExecStartPre=/bin/bash -c 'until [ -f /usr/local/raspirri_server/raspirri/rpi_server.init ]; do echo "Waiting for rpi_server.init to be created"; sleep 1; done'
ExecStart=/usr/local/raspirri_server/debug.sh ble
Restart=always

[Install]
WantedBy=rpi_server.service
