[Unit]
Description=Gardenifi Server
After=multi-user.target

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/home/pi/raspirri_server/
ExecStart=/home/pi/raspirri_server/debug.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
