[Unit]
Description=RaspirriV1 Watchdog Server
After=rpi_server.service

[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/home/pi/raspirri_server/
ExecStart=/home/pi/raspirri_server/app/main_watchdog.py
Restart=always

[Install]
WantedBy=default.target
